@import 'vars';
@import 'global';
@import 'fonts';

// start header

.header__top-inner {
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
}

.header__text {
    margin-left: auto;
    margin-right: 50px;

    span {
        color: $red;
    }
}

.header__btn {
    padding: 4px;
    width: 72px;
    border-radius: 3px;
    text-align: center;
    color: #fff;
    font-size: 12px;
}

.header__btn-login {
    background-color: $green;
}

.header__btn-register {
    background-color: $red;
    margin-left: 7px;
}

.header__menu {
    background-color: $bg;
}

.menu {
    display: flex;
    align-items: center;
    height: 60px;
}

.menu__list {
    li {
        display: inline-block;

        &+li {
            margin-left: 30px;
        }
    }

    a {
        font-family: $roboto;
        font-weight: 500;
        color: #fff;
        font-size: 14px;
        line-height: 30px;
    }
}

// end header
// start search

.search {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 533px;
}

.search__inner {
    padding: 135px 0 100px;
    color: #fff;
    text-align: center;

    &-title {
        margin-bottom: 10px;
        font-size: 48px;
        line-height: 72px;
        font-weight: 700;
    }

    &-text {
        font-family: $roboto;
        margin-bottom: 50px;
        font-size: 20px;
        line-height: 30px;
        font-weight: 500;
    }

    &-form {
        max-width: 670px;
        margin: 0 auto;
        position: relative;

        input {
            display: block;
            width: 100%;
            box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
            border-radius: 4px;
            height: 56px;
            border: none;
            font-size: 14px;
            font-weight: 500;
            padding: 0 60px 0 25px;

            &::placeholder {
                font-family: $roboto;
                color: #90a4ae;
            }
        }

        button {
            position: absolute;
            border: none;
            background-color: transparent;
            right: 20px;
            top: 16px;
        }
    }


}

// end search
// start products
.products {
    padding: 110px 0;
    background-color: $grey;
}

.products__inner-btn {
    text-align: center;
    margin-bottom: 60px;

    button {
        padding: 12px 21px;
        border: none;
        background-color: #fff;
        color: $bg;
        cursor: pointer;
        outline: none;

        &+button {
            margin-left: 5px;
        }

        &.mixitup-control-active {
            background-color: $red;
            color: #fff;

        }
    }
}

.products__inner-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.products__item {
    max-width: 442px;
    width: 100%;
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
    margin-bottom: 30px;

    &-img {
        display: block;
        min-height: 250px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    &-content {
        display: flex;
        justify-content: space-between;
        padding: 10px 30px;
        align-items: center;
        min-height: 90px;
        font-family: $roboto;
        font-weight: 500;
        border-bottom: 1px solid #e7ecf2;
        background-color: #fff;
    }

    &-name {
        max-width: 310px;
    }

    &-title {
        display: block;
        font-size: 18px;
        color: $bg;
    }

    &-category {
        display: block;
        font-size: 14px;
        color: $green;
    }

    &-price {
        font-family: $roboto;
        font-weight: 700;
        font-size: 20px;
        color: $bg;
    }

    &-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 70px;
        padding: 10px 30px;
        background-color: #fff;
    }

    &-author {
        display: flex;
        align-items: center;
        max-width: 245px;

        .avatar {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            display: inline-block;
            margin-right: 14px;
        }

        span {
            font-size: 14px;
            font-family: $roboto;
            font-weight: 500;
        }
    }

    &-star {
        font-size: 12px;

        span {
            color: $bg;
        }
    }

}

.products__bottom-btn {
    text-align: center;
    margin-top: 45px;
    font-size: 16px;

    button {
        padding: 20px 30px;
        border: none;
        background-color: #fff;
        box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
        color: $bg;
        cursor: pointer;
        outline: none;

        &+button {
            margin-left: 10px;
        }

        &.mixitup-control-active {
            background-color: $red;
            color: #fff;
        }
    }
}

// end products
//start product-slider

.product-slider {
    padding: 110px 0 120px;

    .slick-dots {
        text-align: center;
        margin-top: 50px;

        li {
            display: inline-block;
            margin-left: 3px;
            margin-right: 3px;

            &.slick-active {
                button {
                    background-color: $green;
                }
            }

            button {
                border-radius: 50%;
                background-color: rgb(232, 232, 232);
                border: none;
                font-size: 0;
                width: 16px;
                height: 16px;
                cursor: pointer;
                outline: none;

            }
        }
    }
}



// end product-slider